.modal_background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: rgba(0,0,0,0.25);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.modal_settings_card{
    background: white;
    padding: 15px;
    width: 250px;
    height: 250px;
    border-radius: 0px 20px 20px 20px;
}
.modal_notification_card{
     background: white;
     width: 380px;
     height: 682px;
     overflow-y: scroll;
     overflow-x: hidden;
 }
.modal_notification_advert{
    background: white;
    width: 800px;
    height: 600px;
    border: 10px solid #FFBE14;
    border-radius: 50px;
}